---
layout: default
order: 2
title: Publicidad
permalink: /publicidad/
---
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">Publicidad</h1>
      <div class="row center">
        <h5 class="header col s12 light">Algunos trabajos en publicidad. Spots de televisión e internet, cuñas de radio, etc.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background1.jpg" alt="Unsplashed background img 1"></div>
</div>





{% assign ads = site.data.ads | sort: 'date' | reverse %}
<div class="container">
  <div class="section">
    <div class="row">
      {% for ad in ads %}
      <div class="col s12 m6 l3">
        <div class="ads">
          <div class="ad" data-category="{{ ad.type }} {{ad.date | date: "%Y"}}">
            {% include advert_card.html %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
 </div>
</div>

