---
layout: default
order: 2
title: Publicidad
permalink: /publicidad/
---
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">Publicidad</h1>
      <div class="row center">
        <h5 class="header col s12 light">Algunos trabajos en publicidad. Spots de televisión e internet, cuñas de radio, etc.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>





{% assign ads = site.data.advertising | sort: 'date' | reverse %}
<div class="container">
  <div class="section">
    <div class="row">
      {% for ad in ads %}
      <div class="col s12 m6 l3">
        <div class="ads">
          <div class="ad" data-category="{{ ad.type }} {{ad.date | date: "%Y"}}">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                {% if ad.video-url %}
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='{{ ad.video-url }}' frameborder='0' allowfullscreen></iframe></div>
                {% else %}
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ ad.audio-url }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;    show_user=true&amp;show_reposts=false&amp;visual=true"' frameborder='0' allowfullscreen></iframe></div>
                {% endif %} 
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ ad.brand }} <a href="{{ ad.download-url }}"><i class="material-icons">play_for_work</i></a></span>
                <p>{{ ad.campaign }}</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
 </div>
</div>

