---
layout: default
---
{% capture today %}{{'now' | date: '%F'}}{% endcapture %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">Masumi Mutsuda</h1>
      <div class="row center">
        <h5 class="header col s12 light">Locutor. Actor. Ingeniero informático. Músico.</h5>
      </div>
      <div class="row center">
        <a href="http://bit.ly/masumi_casting" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Descargar muestras de voz</a>
      </div>

    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
{% assign movies = site.data.dubbings | where: "type","35mm" | sort: 'date' | reverse %}
{% assign counter = 4 %}
  <div class="section">
    <div class="row">
      <h3>Doblajes recientes</h3>
      {% for movie in movies %}
      {% if movie.date <= today and counter !=0 %}
      <div class="col s12 m6 l3">
        {% include movie_card.html %}
      </div>
      {% assign counter = counter | minus: '1' %}
      {% endif %}
      {% endfor %}
    </div>
    <div class="row center">
      <a href="{{ site.url }}/doblaje" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver más</a>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Primer papel como <b>Haley Joel Osment</b> en <b>Forrest Gump</b></h5>
        <h5 class="header col s12 light">Voz habitual de <b>Logan Lerman</b> y <b>Jamie Blackley</b></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background2.jpg" alt="Unsplashed background img 1"></div>
</div>

{% assign movies = site.data.dubbings | sort: 'date' | reverse %}
{% assign counter = 4 %}
<div class="container">
  <div class="section">
    <div class="row">
      <h3>Actores y personajes recientes</h3>
      {% for movie in movies %}
      {% if movie.audio-url and counter !=0 %}
        <div class="col s12 m6 l3">
          <div class="movies">
            <div class="movie">
              {% include actor_card.html %}
            </div>
          </div>
        </div>
      {% assign counter = counter | minus: '1' %}
      {% endif %}
      {% endfor %}
    </div>
    <div class="row center">
      <a href="{{ site.url }}/actores" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver más</a>
    </div>
  </div>
</div> 

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Más de <b>200</b> películas y series.</h5>
        <h5 class="header col s12 light"><b>{{ 'now' | date: '%Y'|minus: '1994' }} años</b> de experiencia.</b><h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

{% assign movies = site.data.dubbings | where:"type","Serie" | sort: 'date' | reverse %}
{% assign counter = 4 %}
<div class="container">
  <div class="section">
    <div class="row">
      <h3>Series recientes</h3>
      {% for movie in movies %}
      {% if movie.date <= today and counter !=0 %}
      <div class="col s12 m6 l3">
        {% include movie_card.html %}
      </div>
    {% assign counter = counter | minus: '1' %}
    {% endif %}
    {% endfor %}
    </div>
    <div class="row center">
      <a href="{{ site.url }}/doblaje" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver más</a>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Actor de doblaje, Ingeniero informático // creativo y angel investor en <b>itnig</b> // flauta y piccolo en <b>Orquestra UPC</b><h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
{% assign ads = site.data.advertising | sort: 'date' | reverse %}
  <div class="section">
    <div class="row">
      <h3>Publicidad destacada</h3>
      {% for ad in ads limit:4 %}
      <div class="col s12 m6 l3">
        {% include advert_card.html %}
      </div>
    {% endfor %}
    </div>
    <div class="row center">
      <a href="{{ site.url }}/publicidad" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver más</a>
    </div>
  </div>
</div>
