---
layout: millionaires
permalink: /millionaires/
title: Millionaires
---
<h1 class="text-3xl font-bold">Calculadora de la relatividad del dinero</h1>
<p>Hay cosas que nos parecen caras, pero ¿cuánto le supone a un multimillonario gastarse esas cantidades de dinero llevado a nuestro terreno? Esta calculadora trata de responder a esta pregunta.</p>

<div class="pt-8">
    <label for="Your net worth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Introduce tu patrimonio en €:</label>
    <input type="text" id="networth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>

<div class="pt-8">
	{% assign millionaires = site.data.millionaires  %}

	<label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona a un millonario:</label>
	<select id="millionaires" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


	<option></option>
	{% for m in millionaires %}
	     
	 <option>{{ m.name }} || {{ m.net }}€</option>

	{% endfor %}
	</select>
</div>



<div class="pt-8">
	{% assign products = site.data.products %}

	<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona un producto:</label>
	<select id="products" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

	<option></option>

	{% for p in products %}
	     
	 <option>{{ p.name }} || {{ p.price }}€</option>

	{% endfor %}
	</select>
</div>

<div class="pt-8 text-xl font-medium">
	<label id="result"></label>


</div>
    


