---
layout: movies
order: 1
title: Doblajes
permalink: /doblajes/
---


<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">Películas y Series</h1>
      <div class="row center">
        <h5 class="header col s12 light">Estrenos de cine, series de TV y Netflix y otros.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="distribution-wrap">
    <div class="input-field col s12 m6 l3">
      <select multiple>
        <option value="35mm" id="35mm" selected>Cine</option>
        <option value="Video" id="Video" selected>Video y TV</option>
        <option value="Serie" id="Serie" selected>Serie</option>
      </select>
    </div>
  </div>
  <div class="year-wrap">
    <label id="year-label">1994 - {{ 'now' | date: "%Y" }}</label>
    <div id="slider"></div>
  </div>
</div>


{% assign movies = site.data.dubbings | sort: 'date' | reverse %}
<div class="container">
  <div class="section">
    <div class="row">
      {% for movie in movies %}
      <div class="col s12 m6 l3">
        <!-- Promo Content 1 goes here -->
        <div class="dubbings">
          <div class="dubbing" data-category="{{ movie.type }} {{movie.date | date: "%Y"}}">
            {% include movie_card.html %}      
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
 </div>
</div>

