---
layout: movies
order: 1
title: Doblaje
permalink: /doblaje/
---


<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">Películas y Series</h1>
      <div class="row center">
        <h5 class="header col s12 light">Estrenos de cine, series de TV, Netflix y otros.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="">
  <div class="">
    <div class="">
      <select multiple>
        <option value="35mm" id="35mm" selected>Cine</option>
        <option value="Video" id="Video" selected>Video y TV</option>
        <option value="Serie" id="Serie" selected>Serie</option>
      </select>
    </div>
  </div>
  <div class="year-wrap">
    <h6 id="year-label">1994 - {{ 'now' | date: "%Y" }}</h6>
    <div id="slider"></div>
  </div>
</div>


{% assign movies = site.data.dubbings | sort: 'date' | reverse %}
{% capture today %}{{'now' | date: '%F'}}{% endcapture %}
<div class="container">
  <div class="section">
    <div class="row">
      {% for movie in movies %}
      {% if movie.date <= today %} 
      <div class="col s12 m6 l3">
        <!-- Promo Content 1 goes here -->
        <div class="dubbings">
          <div class="dubbing" data-category="{{ movie.type }} {{movie.date | date: "%Y"}}">
            {% include movie_card.html %}      
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
 </div>
</div>

