---
layout: default
---
    <!-- Content -->
    <div class="px-10 lg:px-48 xxl:px-64 bg-gray-100 py-8">
      

      <!-- Section 1 -->
      <h2 class="font-semibold text-xl pb-4">Estrenos de cine:</h2>
      {% capture today %}{{'now' | date: '%F'}}{% endcapture %}
      {% assign movies = site.data.dubbings | where: "type","35mm" | sort: 'date' | reverse %}
      {% assign counter = 4 %}
      <div class="flex flex-wrap">
        {% for movie in movies %}
        {% if movie.date <= today and counter !=0 %}
          {% include movie_card.html %}
        {% assign counter = counter | minus: '1' %}
        {% endif %}
        {% endfor %}

        <a href="#" class="hover:bg-gray-400 bg-gray-300 h-64 w-12 rounded overflow-hidden shadow-lg mx-2 hover:opacity-100">
          <div class="pt-24 text-center">+</div>
        </a>
      </div>



      <!-- Section 2 -->
      <h2 class="font-semibold text-xl pb-4 pt-24">Estrenos de plataformas y TV:</h2>
      {% capture today %}{{'now' | date: '%F'}}{% endcapture %}
      {% assign movies = site.data.dubbings | where: "type","Serie" | sort: 'date' | reverse %}
      {% assign counter = 4 %}
      <div class="flex flex-wrap">
        {% for movie in movies %}
        {% if movie.date <= today and counter !=0 %}
          {% include movie_card.html %}
        {% assign counter = counter | minus: '1' %}
        {% endif %}
        {% endfor %}

        <a href="#" class="hover:bg-gray-400 bg-gray-300 h-64 w-12 rounded overflow-hidden shadow-lg mx-2 hover:opacity-100">
          <div class="pt-24 text-center">+</div>
        </a>
      </div>


    </div>



