---
layout: default
permalink: /publicidad/
title: Publicidad
---
<!-- <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">Publicidad</h1>
      <div class="row center">
        <h5 class="header col s12 light">Algunos trabajos en publicidad. Spots de televisión e internet, cuñas de radio, etc.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.url}}/assets/images/background/background1.jpg" alt="Unsplashed background img 1"></div>
</div>





{% assign ads = site.data.ads | sort: 'date' | reverse %}
<div class="container">
  <div class="section">
    <div class="row">
      {% for ad in ads %}
      <div class="col s12 m6 l3">
        <div class="ads">
          <div class="ad" data-category="{{ ad.type }} {{ad.date | date: "%Y"}}">
            {% include advert_card.html %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
 </div>
</div>
-->

<h2 id="reels" class="font-semibold text-2xl pb-4 pt-4">Demos de publicidad</h2>
A continuación podéis ver algunos trabajos de los trabajos de locución publicitaria realizados. He trabajado para marcas como Volkswagen, Gallina Blanca, Danone, Mercedes, CaixaBank, Unilever, Artiach, Cuétara, Vichy Catalan, Caprabo, Seat, IMC, Bumble, McDonald's, Nestlé, DKV.

<div id="demos" class="flex flex-wrap justify-between">
  <div class="md:w-1/3 sm:w-1/2 px-2 pt-8">
    <video id="player1" preload="auto">
      <source src="/assets/video/locucion/Coches.mp4#t=0.001" type="video/mp4">
    </video>
    <h3 class=text-center>Campaña - <b>Coches.net</b></h3>
  </div>
  <div class="md:w-1/3 sm:w-1/2 px-2 pt-8">
    <video id="player1" preload="auto">
      <source src="/assets/video/locucion/Yatekomo_2021.mp4#t=0.001" type="video/mp4">
    </video>
    <h3 class=text-center>Yatekomo Yakisoba - <b>Gallina Blanca</b></h3>
  </div>
  <div class="md:w-1/3 sm:w-1/2 px-2 pt-8">
    <video  id="player2"  preload="auto">
      <source src="/assets/video/locucion/VW_2022.mp4" type="video/mp4">
    </video>
    <h3 class=text-center>Vokswagen SUV - <b>Volkswagen</b></h3>
  </div>
  <div class="md:w-1/3 sm:w-1/2 px-2 pt-8">
    <video id="player3"  preload="auto">
      <source src="/assets/video/locucion/Bocaditos.mp4#t=0.001" type="video/mp4">
    </video>
    <h3 class=text-center>Bocaditos - <b>Cuétara</b></h3>
  </div>

  <div class="md:w-1/3 sm:w-1/2 px-2 pt-8">
    <video id="player3" preload="auto">
      <source src="/assets/video/locucion/AXE_2019.mp4#t=0.001" type="video/mp4">
    </video>
    <h3 class=text-center>AXE Ice Chill - <b>AXE</b></h3>
  </div>
 
  <div class="md:w-1/3 sm:w-1/2 px-2 pt-8">
    <video class="h-128" id="player3" preload="auto">
      <source src="/assets/video/locucion/Danet.mp4#t=0.001" type="video/mp4">
    </video>
    <h3 class=text-center>Danet Doble Placer - <b>Danone</b></h3>
  </div>
  <div class="md:w-1/3 sm:w-1/2 px-2 pt-8">
    <video id="player3"  preload="auto">
      <source src="/assets/video/locucion/Mercedes.mp4#t=0.001" type="video/mp4">
    </video>
    <h3 class=text-center>Garaje Mágico - <b>Mercedes</b></h3>
  </div>
</div>

     
