  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Masumi Mutsuda</h5>
          <p class="grey-text text-lighten-4"><a href="http://mutsuda.github.com/doblaje" target="_blank">Actor de doblaje</a> y <a href="http://mutsuda.github.com/publicidad" target="_blank">locutor</a> desde 1994, debutando en la película "Forrest Gump" después de haber participado en el casting para "El Rey León". <a href="https://www.youtube.com/watch?v=ZO5GtBf9pv0" target="_blank">Durante 20 años mi voz ha ido cambiando.</a></br>
</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Proyectos</h5>
          <ul>
            <li><a class="white-text" href="http://itnig.net">itnig</a></li>
            <li><a class="white-text" href="http://camaloon.es">Camaloon</a></li>
            <li><a class="white-text" href="http://getquipu.es">Quipu</a></li>
            <li><a class="white-text" href="http://factorialhr.es">Factorial</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Conecta</h5>
          <ul>
            <li><a class="white-text" href="http://twitter.com/mutsuda">Twitter</a></li>
            <li><a class="white-text" href="http://facebook.com/masumi">Facebook</a></li>
            <li><a class="white-text" href="http://instagram.com/mutsuda">Instagram</a></li>
            <li><a class="white-text" href="http://blog.mutsuda.com">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Masumi Mutsuda
      </div>
    </div>
  </footer>
