<footer class="bg-gray-900 py-20">
  <div class="px-10 lg:px-48 xxl:px-64 text-white flex flex-wrap justify-evenly">
    <ul class="text-left w-full sm:w-2/4">
      <li class="text-xl font-bold sm:text-left text-center">Masumi Mutsuda</li>
      <li>Actor de doblaje y locutor desde 1994, debutando en la película "Forrest Gump". Durante 20 años <a class="text-blue-500" href="https://www.youtube.com/watch?v=ZO5GtBf9pv0">mi voz ha ido cambiando.</a></li>
    </ul>

     <ul class="text-center w-full pt-4 sm:pt-0 sm:w-1/4">
      <li class="text-xl font-bold">Proyectos</li>
      <li><a href="https://itnig.net">Itnig</a></li>
      <li><a href="https://factorialhr.es">Factorial</a></li>
    </ul>

     <ul class="text-center w-full pt-4 sm:pt-0 sm:w-1/4">
      <li class="text-xl font-bold">Contacta</li>
      <li><a href="https://twitter.com/mutsuda">Twitter</a></li>
      <li><a href="https://instagram.com/mutsuda">Instagram</a></li>
      <li><a href="https://tiktok.com/@mutsuda">TikTok</a></li>
    </ul>
  </div>

</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ site.baseurl}}/js/init.js"></script>
{% if page.title == "Doblaje" %}
  <script type="text/javascript" src="{{ site.baseurl}}/js/filters.js"></script>
{% endif %}